.card-add-remedie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #EFEFEF;
    height: 80dvh;
    max-width: 95dvw;
    margin: 0 auto;
    border-radius: 10px;
}

.container-name {
    text-align: center;
}

.container-name label {
    font-family: "Sarala", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container-name input {
    height: 5dvh;
    width: 80dvw;
}

.container-dosage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.container-dosage label {
    font-family: "Sarala", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container-dosage input {
    height: 5dvh;
    width: 30dvw;
}

.container-description {
    text-align: center;
    font-family: "Sarala", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container-description textarea {
    max-width: 80dvw;
    min-width: 80dvw;
    max-height: 20dvh;
    min-height: 20dvh;

}

.container-ingetNow {
    border: 1px solid #000;
    max-width: 95%;
    margin: 0 auto;
    background-color: #EFEFEF;
}

.container-ingetNow p {
    text-align: center;
    font-family: "Sarala", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .8rem;
    align-items: center;
}

.input-radio {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    padding: 0.1rem;
    font-family: "Sarala", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    border: 1px solid #000;
    background-color: #CDCDCD;
    max-height: 2rem;
    width: 5.5rem;
    text-align: center;
}

.observation {
    font-weight: bold;
    font-size: .9rem;
    margin-top: .3rem;
}

.cancel {
    display: block;
    text-align: center;
    padding: 0.4rem;
    background-color: #f00;
    border: none;
    font-size: 1.4rem;
    margin: 1rem auto;
    border-radius: 10px;
    color: #EFEFEF;
}