* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1 {
    text-align: center;
    color: #fff;
    font-size: 2.8rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    text-shadow: 0 0 5px #ffffff;
}

.body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.gradient {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.btn-add {
    text-align: center;
    width: 75%;
    height: 7rem;

    font-size: 2.5rem;
    color: #fff;
    background-color: #50A7FF;
    border-radius: 10px;
    border-style: none;
    margin: 0 auto;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.section-remedies {
    overflow-y: scroll;
    height: 85vh;
    width: 100%;
    border-radius: 10px;
}

.sarala-regular {
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sarala-bold {
    font-family: "Sarala", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container-btn {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-remedie {
    background-color: #EFEFEF;
    margin: 0.5rem auto;
    width: 34rem;
    height: 17rem;
    border-radius: 10px;
}